html {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}
span {
    margin-right:0px;
}
.main {
    
    text-align: center;
    margin-left: 38%;
    margin-right: 38%;
}
.userpass,.password2{
   border-top:0;
   border-top-left-radius: 0%;
   border-top-right-radius:0%;
}
.userEmail,.name{
    border-bottom-left-radius:0%;
    border-bottom-right-radius:0%;
}

.email,.password1{
    border-top:0;
    border-bottom-left-radius:0%;
    border-bottom-right-radius:0%;
    border-top-left-radius: 0%;
   border-top-right-radius:0%;
}
.btn {
   margin-top: 1%;
}
